/tmp/*
!/tmp/README.md

.*
!.gitmodules
!.gitignore
!.gitslave

bundle/*/

/pathogen/
/bundle/gundo/
/bundle/surround/
/bundle/AutoClose/
/bundle/L9/
/bundle/vim-autocomplpop/
/bundle/supertab/
/bundle/delimitMate/
/bundle/pyflakes-vim/
/bundle/TaskList/
/bundle/VimPdb/
/bundle/gist/
/bundle/clang_complete/
/bundle/snipmate/
/bundle/VimClojure/
/bundle/vim-slime/
/bundle/vim-less/
/bundle/vim-colors-solarized/
/bundle/vim-powerline/
/bundle/ctrlp.vim/
/bundle/closetag.vim/
/bundle/syntastic/
/bundle/vim-repeat/
/bundle/vim-unimpaired/
/bundle/vagrant/
