/tmp/*
!/tmp/undo/README.md
!/tmp/backup/README.md
!/tmp/swap/README.md

.*
!.gitmodules
!.gitignore
!.gitslave

bundle/*/

/bundle/gundo/
/bundle/surround/
/bundle/AutoClose/
/bundle/L9/
/bundle/vim-autocomplpop/
/bundle/supertab/
/bundle/delimitMate/
/bundle/pyflakes-vim/
/bundle/TaskList/
/bundle/VimPdb/
/bundle/gist/
/bundle/clang_complete/
/bundle/snipmate/
/bundle/VimClojure/
/bundle/vim-slime/
/bundle/vim-less/
/bundle/vim-colors-solarized/
/bundle/vim-powerline/
/bundle/ctrlp.vim/
/bundle/closetag.vim/
/bundle/syntastic/
/bundle/vim-repeat/
/bundle/vim-unimpaired/
/bundle/vagrant/
/bundle/vim-obsession/
/bundle/vim-tbone/
/bundle/vim-sensible/
/bundle/MatchTag/
/bundle/vim-python-matchit/
/bundle/vim-fireplace/
/bundle/vim-characterize/
/bundle/heroku-remote/
/bundle/vim-classpath/
/bundle/vim-tagbar/
/bundle/Better-CSS-Syntax-for-Vim/
/bundle/xptemplate/
/bundle/YouCompleteMe/
